---
import Header from '../components/header.astro';
import Body from '../components/body.astro';
import '../styles/styles.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateus' Portfolio</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body class="bg-white text-black">
    <Header />
    <Body />
  </body>
</html>
