---
---

<header class="bg-primary text-secondary p-4 flex justify-between items-center">
    <h1 class="text-3xl sans-serif font-bold">mateusm.</h1>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="#projects" class="hover:underline">Projects</a></li>
        <li><a href="#about" class="hover:underline">About</a></li>
        <li><a href="#contact" class="hover:underline">Contact</a></li>
      </ul>
    </nav>
  </header>
  